# Docker Compose용 DB 설정
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Spring Boot 애플리케이션용 설정
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
REDIS_HOST=
REDIS_PORT=

OPENAI_API_KEY=

# Spring Profile
SPRING_PROFILES_ACTIVE=
SPRING_PROFILES_LOCAL_ACTIVE=

# Docker
DOCKER_REGISTRY=
DOCKER_ENV=
IMAGE_TAG=
DOCKER_HUB=

VITE_BACK_URL=
VITE_KAKAO_LOGIN_URL=