# Docker Compose용 DB 설정
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Spring Boot 애플리케이션용 설정
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
REDIS_HOST=
REDIS_PORT=

# Spring Profile
SPRING_PROFILES_ACTIVE=